/* Hasan Priyotoma Font Face */
@font-face {
  font-family: "Hasan Priyotoma";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/hasan-priyotoma.ttf) format("truetype");
}

/*
© 2024 - all rights reserved by Bangla Web Fonts
*/
