/* Himel Borno Font Face */
@font-face {
  font-family: "Himel Borno";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/himel-borno.ttf) format("truetype");
}

/*
© 2024 - all rights reserved by Bangla Web Fonts
*/
