/* Kalpurush Font Face */
@font-face {
  font-family: "Kalpurush";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/kalpurush.ttf) format("truetype");
}

/*
© 2024 - all rights reserved by Bangla Web Fonts
*/
