/* Mamun Bornolipi Font Face */
@font-face {
  font-family: "Mamun Bornolipi";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/mamun-bornolipi.ttf) format("truetype");
}

/*
© 2024 - all rights reserved by Bangla Web Fonts
*/
