/* Sunar Bangla Face */
@font-face {
  font-family: "Sunar Bangla";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/sunar-bangla.ttf) format("truetype");
}

/*
© 2024 - all rights reserved by Bangla Web Fonts
*/
